@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  text-decoration: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: antiquewhite;
  background-size: cover;
  background-position: center;
  background-image: url(https://i.pinimg.com/originals/c4/35/35/c4353524118c91d645d728d3dbc0ad77.jpg)
}
.wrapper{
  width: 420px;
  background: rgb(47, 47, 129);
  border: 2px solid rgb(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgb(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  pointer-events: none
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #fff;
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 20px;
}


.wrapper .remember{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px 0 15px;
}

.remember label input{
  accent-color: #fff;
  margin-right: 3px;
}

.remember a{
  color: #fff;
}

.remember a:hover{
text-decoration: underline;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}


.register-link p a{
  color: #fff;
  font-weight: 700;
}

.register-link p a:hover{
  text-decoration: underline;
}

@media (max-width:767px)
{


  #background-video {
    width: auto ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
  .wrapper{width: 95%;
  margin: 0px 5px;
margin-left: 3%;
}
  
}